@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700;800;900&display=swap");

// Colors
$black: #363636;
$light-color: #f9f9f9;
$secondary-color: #7266ff;
$gray: #8f8f8f;
$gray2: #e3e3e3;
$primary-color: #84ff23;
$primary-colorLg: #a9ff66;
// Fonts
$lobster: Lobster, Cursive;
$poppins: Poppins, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $light-color;
  color: $black;
  font-family: $poppins;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

// Header
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 0;

  .logo {
    height: 7rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
    font-size: 1.8rem;
    li a {
      text-decoration: none;
      color: $gray;
      transition: all 0.5s ease-in;
      &:hover {
        color: $black;
      }
    }
  }
}

// Showcase
.showcase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9.6rem;
  gap: 7.2rem;

  .content {
    .header {
      font-family: $lobster;
      font-size: 7.2rem;
      font-weight: 400;
      margin-bottom: 2.4rem;
      span {
        color: $primary-color;
      }
    }
    .descr {
      font-size: 2rem;
      color: $gray;
      margin-bottom: 4.8rem;
    }
    .btn {
      background: none;
      outline: none;
      border: none;
      background: $primary-colorLg;
      padding: 2.4rem 2.4rem;
      border-radius: 2rem;
      font-size: 2.4rem;
      font-weight: 700;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        background: $primary-color;
      }
    }
    a {
      color: black; /* Задаем черный цвет для ссылок */
      text-decoration: none; /* Убираем подчеркивание, если нужно */
    }

    a:visited {
      color: black; /* Цвет для посещенных ссылок */
    }

    a:hover,
    a:focus,
    a:active {
      color: black; /* Цвет для активных и фокусированных ссылок */
    }
  }

  .showcase-girl {
    height: 60vh;
  }
}

// Features

.features {
  text-align: center;
  margin-bottom: 9.6rem;
  .header2 {
    font-family: $lobster;
    font-size: 4.8rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
  }
  .descr {
    font-size: 1.6rem;
    color: $gray;
    margin-bottom: 4.8rem;
  }
  .wrapper {
    display: grid;
    grid-gap: 4.8rem;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    text-align: left;
    .card {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      box-shadow: 5px 5px 10px #0000001b;
      padding: 1.2rem 2.4rem;
      gap: 1.2rem;
      border-radius: 2.5rem;
      background: #fff;
      img {
        height: 10rem;
      }
      &.other {
        color: #fff;
        background: #7266ff;
      }
    }
  }
}
// Teachers
.teachers {
  text-align: center;
  margin-bottom: 9.6rem;
  .header2 {
    font-family: $lobster;
    font-size: 4.8rem;
    font-weight: 500;
    margin-bottom: 4.8rem;
  }
  .wrapper {
    display: grid;
    grid-gap: 4.8rem;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    text-align: left;
    justify-content: center;
    .card {
      img {
        width: 100%;
        margin-bottom: 1.8rem;
      }
      h4 {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
      }
      .role {
        font-size: 1.6rem;
        display: inline-block;
        margin-bottom: 1rem;
        color: $gray;
      }
      .info {
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
      }
      .tags {
        display: flex;
        gap: 0.8rem;
      }
      .tag {
        font-size: 1.4rem;
        background: $gray2;
        display: inline-block;
        padding: 1rem;
        border-radius: 1.5rem;
      }
    }
  }
}
// Contacts
.contacts {
  text-align: center;
  margin-bottom: 9.6rem;
  .header2 {
    font-family: $lobster;
    font-size: 4.8rem;
    font-weight: 500;
    margin-bottom: 4.8rem;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 9.6rem;
    iframe {
      border-radius: 5rem;
      box-shadow: 5px 5px 10px #0000001b;
      width: 100%;
    }
    #successMessage,
    #errorMessage {
      font-size: 3rem;
      color: white;
      background-color: $primary-color;
      width: 100%;
      align-self: center;
      text-align: center;
      padding: 2rem;
      border-radius: 2rem;
    }
    #errorMessage {
      background-color: #ff2323;
    }
    .context {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.6rem;
      width: 90%;

      input {
        font-size: 2.4rem;
        padding: 2.4rem 2.4rem;
        background: none;
        outline: none;
        border: none;
        background-color: #fff;
        box-shadow: 5px 5px 10px #0000001b;
        border-radius: 1.5rem;
      }
      .btn {
        color: $black;
        background-color: $primary-colorLg;
        font-weight: 700;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
}
// Footer
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 9.6rem;
  background-color: $secondary-color;
  color: #fff;
  .links {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 2.4rem;
    }
    img {
      height: 3.6rem;
    }
  }
  p {
    font-size: 1.6rem;
    color: $gray2;
    font-weight: 400;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
@import "mobile";
